@page
@model Series.ListModel
@{
    ViewData["Title"] = "Series List";
}
<h1>Series List</h1>

<form method="Get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" 
                    asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach(var sc in Model.SeriesCollection)
    {
        <tr>
            <td>@sc.Name</td>
            <td>@sc.Genre</td>
            <td>@sc.Channel</td>
            <td>
                <a class="btn btn-lg"
                asp-page="./Detail" asp-route-seriesID=@sc.Id>
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    }
</table>

<div>@Model.Message</div>